@font-face {
    font-family: "RubikMicrobe-Regular";
    font-style: normal;
    font-weight: 400;
    src: local("Inter"), url("../fonts/RubikMicrobe-Regular.woff2") format("woff2"),
        url("../fonts/RubikMicrobe-Regular.woff") format("woff");
}