$bg-color: #121214;
$w-wrapper: 1440px;
$p-lr-wrapper: 100px;

$font: 'RubikMicrobe-Regular', cursive;
$color: #00efff;

$breakpoint_xxl: 1200px;
$breakpoint_xl: 1024px;
$breakpoint_md: 768px;
$breakpoint_sm: 576px;

